.top_logo img{
	width: 18%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 10%);
	border: 5px #000 solid;
	border-radius: 50%
}
.bottom_area{
	width: 70%;
	background: red;
	display: block;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 15%);
	z-index: -1;
	outline: 2px solid #000;
}
.bottom_area p{
	font-size: 25px;
	margin: 90px 10px 10px 10px;
	text-align: justify;
	margin-top: 120px;
}
.buttons{
	margin-top: 50px;
}
.buttons a{
	display: inline-flex;
	padding: 10px 15px;
	font-size: 17px;
	outline: 0.5px solid #000;
	margin-left: 20px;
	background: #ff6600;
	text-decoration: none;
	font-family: small-caps;
}
.buttons a:hover{
	background: #ff0690;
	transition: 0.5s;
}
@media screen and (max-width: 1602px){
	div.bottom_area{
		position: absolute;
		left: 50%;
		transform: translate(-50%,10%);
	}
}
@media screen and (max-width: 1270px){
	div.buttons a{
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-right: 10px; 
	}
}
@media screen and (max-width: 992px){
	div.bottom_area{
		position: absolute;
		left: 50%;
		transform: translate(-50%,5%);
	}
}


@media screen and (max-width: 816px){
	div.bottom_area{
		width: 90%;
	}
}

@media screen and (max-width: 688px){
	div.bottom_area{
		width: 100%;
		position: absolute;
		left: 50%;
		transform: translate(-50%,5%);
	}
	.top_logo img{
		width: 30%;
	}
}

@media screen and (max-width: 523px){
	div.bottom_area{
		height: 130vh;
	}
}

@media screen and (max-width: 467px){
	div.bottom_area{
		height: 150vh;
	}
}

@media screen and (max-width: 362px){
	div.bottom_area{
		height: 150vh;
	}
}



@media screen and 	 (max-width: 360px){
	div.bottom_area{
		height: 200vh;
	}
}